dist: trusty
sudo: false

language: python

matrix:
    include:
        - python: 2.7
          env: TOXENV=py27
        - python: 2.7
          env: TOXENV=lint
        - python: 3.4
          env: TOXENV=py3
        - python: 3.5
          env: TOXENV=py3
        - python: 3.6
          env: TOXENV=py3

install:
  - pip install --upgrade tox coveralls

script: tox

after_success:
    - ./run_coveralls.sh
