prune test
recursive-include boundary_layer *.j2
recursive-include boundary_layer_default_plugin *.yaml
include *.md
include LICENSE
include NOTICE
prune examples
prune .*
prune run_coveralls.sh
prune tox.ini
include versioneer.py
include boundary_layer/_version.py
